bin/
build/
out/
target/
target-eclipse/
test-bin/

.classpath
.gradle
.idea
.project
.settings
.tern-project
.slcache/
derby.log
derby.log.orig

.groovy
**.db

#intelij
**.iml

#plugin de cobertura de testes
cobertura.ser