<div class="modal inmodal in" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <i class="fa fa-user-plus modal-icon"></i>
                <h4 class="modal-title">{{ 'STORES.ADD.ADD_USER.TITLE' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form name="form" novalidate>
                    <div class="form-group" show-errors>
                        <label for="email">{{ 'STORES.ADD.ADD_USER.EMAIL' | translate }}</label>
                        <input type="email" ng-model="StoresUserAddModalCtrl.user.email" class="form-control" id="email" name="email" rows="3" placeholder="{{ 'STORES.ADD.ADD_USER.EMAIL' | translate }}" ng-required="true">
                        <p class="help-block" ng-if="form.email.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
                        <p class="help-block" ng-if="form.email.$error.email">{{ 'MESSAGE.FORMAT_INVALID' | translate }}</p>
                    </div>
                    <div class="form-group" show-errors>
                        <label>{{ 'STORES.ADD.ADD_USER.TYPE' | translate }}</label>
                        <ui-select name="type" id="type" ng-model="StoresUserAddModalCtrl.user.type" ng-required="true">
                            <ui-select-match>
                                <span> {{ 'USER_TYPE.' + $select.selected.name | translate}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (StoresUserAddModalCtrl.userStoreTypes | filter: $select.search) track by item.id">
                                <span>{{ 'USER_TYPE.' + item.name | translate}}</span>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block" ng-if="form.type.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="StoresUserAddModalCtrl.cancel()" data-dismiss="modal">{{ 'STORES.ADD.ADD_USER.CLOSE' | translate}}</button>
                <button type="button" ng-click="StoresUserAddModalCtrl.save()" class="btn btn-primary">{{ 'STORES.ADD.ADD_USER.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>