<div class="animated fadeInRight">
    <div class="ibox-title">
        <h3>{{ 'CAMPAIGN.LIST.TITLE' | translate }}</h3>
    </div>
    <div class="ibox-content">
        <div ng-if="CampaignsListCtrl.campaigns.length > 0">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'CAMPAIGN.LIST.SEARCH' | translate }}" ng-model="CampaignsListCtrl.search" class="input-sm form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4 m-b-xs col-sm-offset-4">
                    <div class="pull-right">
                        <div data-toggle="buttons" class="btn-group">
                            <label class="btn btn-sm btn-white">
                                <input type="radio" id="option1" name="options">
                                {{ 'CAMPAIGN.LIST.ACTIVE' | translate }}
                            </label>
                            <label class="btn btn-sm btn-white active">
                                <input type="radio" id="option2" name="options">
                                {{ 'CAMPAIGN.LIST.INACTIVE' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-if="(CampaignsListCtrl.campaigns | filter: CampaignsListCtrl.search).length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'CAMPAIGN.LIST.NAME' | translate }}</th>
                        <th>{{ 'CAMPAIGN.LIST.START' | translate }}</th>
                        <th>{{ 'CAMPAIGN.LIST.END' | translate }}</th>
                        <th>{{ 'CAMPAIGN.LIST.STATUS' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="campaign in CampaignsListCtrl.campaigns | filter: CampaignsListCtrl.search">
                        <td>
                            <span keywords="CampaignsListCtrl.search" highlight="campaign.name"></span>
                        </td>
                        <td>
                            <span>{{campaign.startDate | date}}</span>
                        </td>
                        <td>
                            <span>{{campaign.endDate | date}}</span>
                        </td>
                        <td>
                            <span class="label" ng-class="CampaignsListCtrl.statusClass(campaign.status)">{{ 'CAMPAIGN.LIST.' + campaign.status.name | translate }}</span>
                        </td>
                        <td>
                            <a class="btn btn-white btn-xs pull-right" ng-click="CampaignsListCtrl.remove(campaign)">
                                <i class="fa fa-trash"></i> {{ 'CAMPAIGN.LIST.REMOVE' | translate }}
                            </a>
                            <a class="btn btn-white btn-xs pull-right" ui-sref="store.campaigns.view">
                                <i class="fa fa-eye"></i> {{ 'CAMPAIGN.LIST.VIEW' | translate }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-warning" ng-if="(CampaignsListCtrl.campaigns | filter: CampaignsListCtrl.search).length == 0">
                {{ 'CAMPAIGN.NO_CAMPAIGN_FOUND' | translate }}
            </div>
        </div>
        <div class="alert alert-info" ng-if="CampaignsListCtrl.campaigns.length == 0">
            {{ 'CAMPAIGN.NO_CAMPAIGN' | translate }}
            <a class="alert-link" ui-sref="store.campaigns.add">{{ 'CAMPAIGN.NO_CAMPAIGN_LINK' | translate }}</a>
        </div>
    </div>
</div>