<div class="ibox-title">
    <h3>{{ 'CAMPAIGN.LIST.TITLE' | translate }}</h3>
</div>
<div class="ibox-content">
    <div ng-if="CampaignListCtrl.campaigns.length > 0">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" placeholder="{{ 'CAMPAIGN.LIST.SEARCH' | translate }}" ng-model="CampaignListCtrl.search" class="input-sm form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 m-b-xs col-sm-offset-4">
                <div class="pull-right">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-sm btn-white">
                            <input type="radio" id="option1" name="options">
                            {{ 'CAMPAIGN.LIST.ACTIVE' | translate }}
                        </label>
                        <label class="btn btn-sm btn-white active">
                            <input type="radio" id="option2" name="options">
                            {{ 'CAMPAIGN.LIST.INACTIVE' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" ng-if="(CategoriesListCtrl.campaigns | filter: CampaignListCtrl.search).length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'CAMPAIGN.LIST.NAME' | translate }}</th>
                    <th>{{ 'CAMPAIGN.LIST.DESCRIPTION' | translate }}</th>
                    <th>{{ 'CAMPAIGN.LIST.START' | translate }}</th>
                    <th>{{ 'CAMPAIGN.LIST.END' | translate }}</th>
                    <th>{{ 'CAMPAIGN.LIST.STATUS' | translate }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in CampaignListCtrl.campaigns | filter: CampaignListCtrl.search">
                    <td>
                        <span keywords="CampaignListCtrl.search" highlight="category.name"></span>
                    </td>
                    <td>
                        <span keywords="CampaignListCtrl.search" highlight="category.description"></span>
                    </td>
                    <td>
                        <a href="#"><i class="fa fa-check text-navy"></i></a>
                    </td>
                    <td>
                        <a style="cursor: pointer" ng-click="CategoriesListCtrl.remove(category)">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" ng-if="(CampaignListCtrl.campaigns | filter: CampaignListCtrl.search).length == 0">
            {{ 'CAMPAIGN.NO_CAMPAIGN_FOUND' | translate }}
        </div>
    </div>
    <div class="alert alert-info" ng-if="CampaignListCtrl.campaigns.length == 0">
        {{ 'CAMPAIGN.NO_CAMPAIGN' | translate }}
        <a class="alert-link" ui-sref="company.campaigns.add">{{ 'CAMPAIGN.NO_CAMPAIGN_LINK' | translate }}</a>
    </div>
</div>
