<div class="ibox-title">
    <h3>{{ 'CAMPAIGN.ADD.TITLE' | translate }}</h3>
</div>
<div class="ibox-content">
    <form name="form" novalidate>
        <div class="form-group" show-errors>
            <label for="name">{{ 'CAMPAIGN.ADD.NAME' | translate }}</label>
            <input type="text" ng-model="CampaignAddCtrl.campaign.name" class="form-control" id="name" name="name" placeholder="{{ 'CAMPAIGN.ADD.NAME' | translate }}" ng-required="true">
            <p class="help-block" ng-if="form.name.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
        </div>
        <div class="form-group">
            <label for="description">{{ 'CAMPAIGN.ADD.DESCRIPTION' | translate }}</label>
            <textarea type="textarea" ng-model="CampaignAddCtrl.campaign.description" class="form-control" id="description" rows="3" placeholder="{{ 'CAMPAIGN.ADD.DESCRIPTION' | translate }}"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <label for="name">{{ 'CAMPAIGN.ADD.START' | translate }}</label>
                    <input type="date" ng-model="CampaignAddCtrl.campaign.start" class="form-control" id="start" name="start" placeholder="{{ 'CAMPAIGN.ADD.START' | translate }}" ng-required="true">
                    <p class="help-block" ng-if="form.start.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <label for="name">{{ 'CAMPAIGN.ADD.END' | translate }}</label>
                    <input type="date" ng-model="CampaignAddCtrl.campaign.end" class="form-control" id="end" name="end" placeholder="{{ 'CAMPAIGN.ADD.END' | translate }}" ng-required="true">
                    <p class="help-block" ng-if="form.end.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'CAMPAIGN.ADD.CATEGORY' | translate }}</label>
            <div class="row">
                <div class="col-md-6">
                    <div class="i-checks">
                        <label class="">
                            <input type="checkbox" value="" ng-model="teste" style="position: absolute; opacity: 0;" i-check> Teste
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="i-checks">
                        <label class="">
                            <input type="checkbox" value="" ng-model="teste" style="position: absolute; opacity: 0;" i-check> Teste
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="type">{{ 'CAMPAIGN.ADD.TICKET_TYPE' | translate }}</label>
            <select ng-options="type.id as type.name for type in CampaignAddCtrl.ticketTypes" class="form-control" id="ticketType" name="ticketType" ng-model="CampaignAddCtrl.campaign.ticketType" ng-required="true"></select>
            <p class="help-block" ng-if="form.ticketType.$error.required">{{ 'MESSAGE.FIELD_REQUIRED' | translate }}</p>
        </div>
    </form>
</div>
<div class="ibox-footer">
    <div class="pull-right">
        <button class="btn btn-primary " type="button" ng-click="CampaignAddCtrl.save()">
            <i class="fa fa-check"></i>&nbsp;{{ 'CAMPAIGN.ADD.SAVE' | translate }}
        </button>
    </div>
</div>